<div *ngIf="hero">
    <h2>{{hero.name}} details!</h2>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="hero.name" placeholder="name" />
    </div>
    <div>
        <label>Age: </label>
        <input [(ngModel)]="hero.age" type="number" width="25" placeholder="age" />
    </div>
    <div>
        <label>Gender:</label>
        <select [(ngModel)]="hero.gender">
            <option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.display}}
            </option>
        </select>
    </div>
    <button (click)="addHero(hero)">Add Hero</button>
    <button (click)="editHero(hero);" *ngIf="existing">
        Edit Hero
    </button>
    <button (click)="deleteHero(hero.id);" *ngIf="existing">
        Delete Hero
    </button>
</div>
