<h1>{{title}}</h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}} is {{hero.age}}
      </li>
    </ul>
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
    <ul class="villains">
      <li *ngFor="let villain of villains">
        <span class="badge">{{villain.id}}</span> {{villain.name}} is {{villain.level}}
      </li>
    </ul>