<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TP Incident Report</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../app/app.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/ag-grid/dist/ag-grid.css" />
    <link rel="stylesheet" type="text/css" href="../node_modules/ag-grid/dist/theme-fresh.css" />
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/ag-grid/dist/ag-grid.min.js"></script>
    <script src="../app/app.js"></script>
</head>

<body ng-controller="ResultsController">

    <my-app>Loading...</my-app>

    <div>
        Period:<select style="width: 200px;" ng-model="selectedPeriod" ng-options="period for period in periods"></select>
    </div>
    <div>
        Line of Business:<select style="width: 200px; color: Black;" ng-model="selectedLobs" ng-options="lob for lob in defaultLob" multiple size="4"></select>
    </div>
    <div>
        Region:<select style="width: 200px;" ng-model="region" multiple size="3" ng-options="region for region in defaultRegions"></select>
    </div>

    <br>

    <button ng-click="update()">Generate</button>
    <button ng-click="export()" ng-disabled="emptyResults">Export to CSV</button>
    
    <div class="ag-fresh" ag-grid="gridOptions" style="position: relative; margin-top: 70px; width: auto; height: 800px;">
    </div>
    <br>

</body>

</html>