<h1>{{title}}</h1>
<h2>My Heroes:</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" [hidden]="deleted" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}} is {{hero.age}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<h2>And Villains:</h2>
<ul class="villains">
  <li *ngFor="let villain of villains" [class.selected]="villain === selectedVillain" [hidden]="deleted" (click)="onSelectVillain(villain)">
    <span class="badge">{{villain.id}}</span> {{villain.name}} is {{villain.level}}
  </li>
</ul>
<app-villain-detail [villain]="selectedVillain"></app-villain-detail>