<div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
    </div>
</div>

<app-countdown-timer #timer></app-countdown-timer>
<button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button>
<div class="row">
    <div class="col-sm-4">
        <h2>My Heroes:</h2>

        <ul class="heroes">
            <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" [hidden]="hero.deleted" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span> {{hero.name}} is {{hero.age}}
            </li>
        </ul>
        <app-hero-detail [hero]="selectedHero"></app-hero-detail>
        <input type="button" value="Add Hero" (click)="addHero()" />
    </div>
    <div class="col-sm-4">
        <h2>And Villains:</h2>
        <ul class="villains">
            <li *ngFor="let villain of villains" [class.selected]="villain === selectedVillain" (click)="onSelectVillain(villain)">
                <span class="badge">{{villain.id}}</span> {{villain.name}} is {{villain.level}}
            </li>
        </ul>
        <app-villain-detail [villain]="selectedVillain"></app-villain-detail>
        <input type="button" value="Add Villain" (click)="addVillain()" />
    </div>
</div>
