<!-- <div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
    </div>
</div> -->

<div class='container-fluid'>
    <div class='row'>

        <div class='main-nav'>
            <div class='navbar navbar-inverse'>
                <div class='navbar-header'>
                    <ul class='nav navbar-nav'>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/']">
                                Home
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/heroes']">
                                Heroes
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/villains']">
                                Villains
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/countdown-timer']">
                                Counter
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/admin']">
                                Admin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-sm-9 body-content'>
                <router-outlet></router-outlet>
            </div>
            <a [routerLink]="[{ outlets: { popup: ['contact'] } }]">Contact</a>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
</div>
