<div *ngIf="villain">
    <h2>{{villain.name}} details!</h2>
    <div>
        <label>name: </label>
        <input [(ngModel)]="villain.name" placeholder="name" />
        <label>level: </label>
        <input type="number" [(ngModel)]="villain.level" placeholder="level" />
        <label>role: </label>
        <select [(ngModel)]="villain.role">
            <option *ngFor="let role of roles" [value]="role">
     {{role}}
            </option>
        </select>
    </div>
    <button (click)="editVillain(villain);">
        Edit Villain
    </button>
    <button (click)="deleteVillain(villain.id);">
        Delete Villain
    </button>
</div>