<mat-progress-bar [bufferValue]="value">
</mat-progress-bar>

<p>
    {{message}}
</p>

<div class="mdc-form-field">
    <input type="checkbox" id="input">
    <label for="input">Input Label</label>
</div>

<mat-checkbox>Check me out</mat-checkbox>
<button mat-button color="warn">Hello</button>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="accent">Accent</button>
<mat-slide-toggle>
    Slide me!
</mat-slide-toggle>

<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
